In [1]:
import pymysql
conn = pymysql.connect(
    host="localhost",
    user="root",
    password="Ananya@123",
    database="oob_bank"
)

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\anany\anaconda3\lib\site-packages (1.1.1)

In [3]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('mysql+pymysql://root:Ananya%40123@localhost/oob_bank',pool_pre_ping=True,pool_recycle=3600)
query = "SELECT * FROM account"
df = pd.read_sql(query, engine)
print(df.head())
cursor=conn.cursor()

  Account_ID Customer_ID       Account_Type  Balance Account_status  \
0      AC001        C101            Savings   5000.0         Active
1      AC002        C102  Recurring Deposit   1500.0         Active
2      AC003        C103           Business   3500.0       Inactive
3      AC004        C104      Fixed Deposit   8000.0         Active
4      AC005        C105            Savings  12000.0         Active

  Created_date Last_updated
0   2020-05-12   2023-03-16
1   2021-03-15   2023-03-16
2   2019-07-11   2022-08-15
3   2020-10-29   2023-03-16
4   2021-02-25   2023-03-16

In [4]:
df.to_csv('output.csv',index=False)

In [5]:
pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\anany\anaconda3\lib\site-packages (16.1.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\anany\anaconda3\lib\site-packages (from pyarrow) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [6]:
out_path = "output.parquet"
df.to_parquet(out_path, engine="pyarrow", index=False, compression="snappy")

In [7]:
from pathlib import Path
out_path = Path("output.parquet")
df.to_parquet(out_path, engine="pyarrow", index=False, compression="snappy")
print("File saved to", out_path)

File saved to output.parquet

In [8]:
!pip install fastavro

Requirement already satisfied: fastavro in c:\users\anany\anaconda3\lib\site-packages (1.11.1)

In [9]:
from fastavro import writer, parse_schema
 
schema = {
    "type": "record",
    "name": "DataRecord",
    "fields": [{"name": c, "type": "string"} for c in df.columns]
}
records = (
    df.fillna("")           
      .astype(str)           
      .to_dict("records")
)
with open("output.avro", "wb") as out:
    writer(out, parse_schema(schema), records)
 
print("Avro file written (all values stored as text)")

Avro file written (all values stored as text)

In [10]:
cursor.execute("SELECT TABLE_NAME FROM information_schema.tables WHERE table_schema = 'oob_bank' AND TABLE_NAME = 'account'")
tables = cursor.fetchall()

In [11]:
for (account,) in tables:
    cursor.execute(f"DROP TABLE IF EXISTS new_schema.{account}")
    cursor.execute(f"CREATE TABLE new_schema.{account} LIKE oob_bank.{account}")
    cursor.execute(f"INSERT INTO new_schema.{account} SELECT * FROM oob_bank.{account}")
    print(f"Copied table: {account}")
 
conn.commit()
cursor.close()
conn.close()

Copied table: account

In [25]:
SOURCE_DB_URL = "mysql+pymysql://root:Ananya%40123@localhost/oob_bank"
DEST_DB_URL = "mysql+pymysql://root:Ananya%40123@localhost/new_schema"
source_engine = create_engine(SOURCE_DB_URL)
dest_engine = create_engine(DEST_DB_URL)
tables_to_copy = {
    "atm": ["Branch_ID", "Location"]}
for table_name,columns in tables_to_copy.items():
    print(f"Copying {table_name} with columns: {columns}")
    cols = ", ".join(columns)
    query = f"SELECT {cols} FROM {table_name}"
    df = pd.read_sql_query(query, con=source_engine)
    df.to_sql(table_name, con=dest_engine, if_exists='replace', index=False)
print("Selective data migration complete.")

Copying atm with columns: ['Branch_ID', 'Location']
Selective data migration complete.